body, html {
    overflow-x: hidden;
}

/* MAP */
.map-title {
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
    font-weight: regular;
    padding: 5px 10px;
    font-family: 'Raleway';
    gap: 10px;
}

/* COUNTRY SVG */
#vis-svg {
    margin-left: 40%;
    margin-right: auto;
    width:100%;
    height: 100%;
    
}

.map-holder {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* LEGEND */
.legend text {
	stroke: #d5e7fe;
	fill: #d5e7fe; 
	font-size: 0px;
	
}

/* OPTION BUTTON */
#year-select {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    color: lightgrey;
    font-family: 'Raleway';
    border-color: transparent;
}

#country-select {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    color: lightgrey;
    border-color: transparent;
    font-family: 'Raleway';
}


#data-type-select {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    color: lightgrey;
    border-color: transparent;
    font-family: 'Raleway';
    
}
#map-container{
    margin-top: 50px;
}

.selected {
    fill: pink;
    stroke: red;
    opacity: 5;
}

#summary-container {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Raleway';
    color: white;
}

/* Style the summary text */
#summary-text {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px; /* Add space between the map and the summary text */
}

/* Additional styling for the data summary container */
.data-summary {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 20px;
    margin-top: 5%; /* Add space between the map and the summary text */
}

#bar-chart-container {
    margin: 20px auto;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.7); /* Match the summary container style */
    padding: 20px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add subtle shadow for depth */
}

#bar-chart-svg {
    display: block;
    margin: 0 auto;
}

/* Styling for the chart title */
.chart-title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

